<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Index Page</title>
</head>

<body>

    <h1>Movie Manager</h1>
    <nav>
        <a href="/movies/new">Create a new movie</a>
    </nav>
    <ul>
        <% for (let i = 0; i < movies.length; i++) {%>
            <l1>
                <h2>
                    <a href="/movies/<%=movies[i].id %>"><%= movies[i].title %></a>
                    
                </h2>
                <p>Directed by: <%= movies[i].director %>
                </p>
                <p>Genres: <%= movies[i].genre %>
                </p>
                <p>Rating(1-10): <%= movies[i].rating %>
                </p>
                <% if (movies[i].watchAgain === true) { %>
                    <p>Would love to watch this again!</p>
                    <%} else {%>
                        <p>Not really worth watching again.</p>
                        <%}%>
                            <% if ( movies[i].image ) {%>
                                <img src="<%=movies[i].image %>" alt="Movie image">
                                <%}%>

            </l1>
            <%}%>
    </ul>

</body>

</html>