<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="showPage">
    <h1>Movies show page</h1>
    <l1>
        <h2>
            <%= movie.title %>
            
        </h2>
        <p>Directed by: <%= movie.director %>
        </p>
        <p>Genres: <%= movie.genre %>
        </p>
        <p>Rating(1-10): <%= movie.rating %>
        </p>
        <% if (movie.watchAgain === true) { %>
            <p>Would love to watch this again!</p>
            <%} else {%>
                <p>Not really worth watching again.</p>
                <%}%>
                    <% if ( movie.image ) {%>
                        <img src="<%=movie.image %>" alt="Movie image">
                        <%}%>

        <nav>
            <a href="/movies">Back to Movies Index</a>
        </nav>

    </l1>
</body>
</html>